@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/* popular destination Card ki css */
.art {
    background-color: rgb(229, 233, 243);
  }
  .populardest {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .articles {
    background-color: rgb(229, 233, 243);
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  .article {
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  .figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  .article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  .articlebody  {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 18px;
    padding-right: 18px;
    }
  .staricon {
    padding-top: 10px;
    padding-right: 10px;
    color: goldenrod;
    display: flex;
    align-items: start;
    }
  .articlebody p {
    display: flex;
    align-items: start;
    padding-right: 10px;
    font-size: x-large;
    font-weight: 600;
    } 
  .article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  @media screen and (max-width: 960px) {
  .article {
    container: card/inline-size;
    }
  .article-body p {
    display: none;
    }
  }
  @container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
    }
  .article-body {
    padding-left: 0;
    }
  .figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
    }
  .figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    }
  }
  